.header {
  height: 40px;
  width: 100%;
  background-color: #0C9191;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: #fff;
}

.fa-cog {
  color: #fff;
}

#app-header-title {
  margin-left: 20px;
  font-weight: 500;
}

.menu-cog-button {
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: 32px;
  margin-right: 20px;
}
