.display-none {
  display: none !important; }

.display-hidden {
  display: hidden !important; }

.display-block {
  display: block !important; }

.display-inline-block {
  display: inline-block !important; }

.display-flex {
  display: flex !important; }

.display-inline-flex {
  display: inline-flex !important; }

.flex-row-center {
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.flex-column-center {
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.flex-spread {
  justify-content: space-between; }

.flex-center {
  align-items: center; }

.flex-row-spread {
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.flex-column-spread {
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.font-blue {
  color: #009ddb; }

.font-linen {
  color: #f4f1ea; }

.font-white {
  color: white; }

.font-black {
  color: #2f3145; }

.font-yellow {
  color: #ffbc13; }

.font-orange {
  color: #ff8700; }

.font-dark-blue {
  color: #001284; }

.font-red {
  color: #e2231b; }

.font-green {
  color: #00e05b; }

.font-dark-green {
  color: #abc233; }

.font-gray {
  color: #b4b4b4; }

.font-light-gray {
  color: #e4e4e4; }

.font-purple {
  color: #4c4686; }

.font-whitesmoke {
  color: #efefef; }

.background-blue {
  background-color: #009ddb; }

.background-linen {
  background-color: #f4f1ea; }

.background-white {
  background-color: white; }

.background-black {
  background-color: #2f3145; }

.background-yellow {
  background-color: #ffbc13; }

.background-orange {
  background-color: #ff8700; }

.background-dark-blue {
  background-color: #001284; }

.background-red {
  background-color: #e2231b; }

.background-green {
  background-color: #00e05b; }

.background-dark-green {
  background-color: #abc233; }

.background-gray {
  background-color: #b4b4b4; }

.background-light-gray {
  background-color: #e4e4e4; }

.background-purple {
  background-color: #4c4686; }

.background-whitesmoke {
  background-color: #efefef; }

.no-background {
  background-color: transparent; }

.border-blue {
  border-color: #009ddb !important; }

.border-linen {
  border-color: #f4f1ea !important; }

.border-white {
  border-color: white !important; }

.border-black {
  border-color: #2f3145 !important; }

.border-yellow {
  border-color: #ffbc13 !important; }

.border-orange {
  border-color: #ff8700 !important; }

.border-dark-blue {
  border-color: #001284 !important; }

.border-red {
  border-color: #e2231b !important; }

.border-green {
  border-color: #00e05b !important; }

.border-dark-green {
  border-color: #abc233 !important; }

.border-gray {
  border-color: #b4b4b4 !important; }

.border-light-gray {
  border-color: #e4e4e4; }

.border-purple {
  border-color: #4c4686 !important; }

.border-whitesmoke {
  border-color: #efefef !important; }
.background-teal {
  background-color: #4A96AD;
}
.small-border {
  border: 1px solid black; }

.small-border-left {
  border-left: 1px solid black; }

.small-border-right {
  border-right: 1px solid; }

.small-border-top {
  border-top: 1px solid black; }

.small-border-bottom {
  border-bottom: 1px solid black; }

.medium-border {
  border: 2px solid black; }

.medium-border-left {
  border-left: 2px solid black; }

.medium-border-right {
  border-right: 2px solid black; }

.medium-border-top {
  border-top: 2px solid black; }

.medium-border-bottom {
  border-bottom: 2px solid black; }

.large-border {
  border: 5px solid black; }

.large-border-left {
  border-left: 5px solid black; }

.large-border-right {
  border-right: 5px solid black; }

.large-border-top {
  border-top: 5px solid black; }

.large-border-bottom {
  border-bottom: 5px solid black; }

.no-border {
  border: none; }

.no-border-left {
  border-left: none; }

.no-border-right {
  border-right: none; }

.no-border-top {
  border-top: none; }

.no-border-bottom {
  border-bottom: none; }

.no-radius {
  border-radius: 0; }

.card-radius {
  border-radius: 10px; }

.circle-radius {
  border-radius: 100%; }

.bottom-shadow {
  -webkit-box-shadow: 0px 1px 1px #de1dde;
  -moz-box-shadow: 0px 1px 1px #de1dde;
  box-shadow: 0px 1px 1px #de1dde; }

.small-margin {
  margin: 5px; }

.small-margin-left {
  margin-left: 5px; }

.small-margin-right {
  margin-right: 5px; }

.small-margin-top {
  margin-top: 5px; }

.small-margin-bottom {
  margin-bottom: 5px; }

.medium-margin {
  margin: 15px; }

.medium-margin-left {
  margin-left: 15px; }

.medium-margin-right {
  margin-right: 15px; }

.medium-margin-top {
  margin-top: 15px; }

.medium-margin-bottom {
  margin-bottom: 15px; }

.large-margin {
  margin: 1em; }

.large-margin-left {
  margin-left: 1em; }

.large-margin-right {
  margin-right: 1em; }

.large-margin-top {
  margin-top: 0em; }

.large-margin-bottom {
  margin-bottom: 1em; }

.no-margin {
  margin: 0; }

.no-margin-left {
  margin-left: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.small-padding {
  padding: 5px; }

.small-padding-left {
  padding-left: 5px; }

.small-padding-right {
  padding-right: 5px; }

.small-padding-top {
  padding-top: 5px; }

.small-padding-bottom {
  padding-bottom: 5px; }

.medium-padding {
  padding: 15px; }

.medium-padding-left {
  padding-left: 15px; }

.medium-padding-right {
  padding-right: 15px; }

.medium-padding-top {
  padding-top: 15px; }

.medium-padding-bottom {
  padding-bottom: 15px; }

.large-padding {
  padding: 1em; }

.large-padding-left {
  padding-left: 1em; }

.large-padding-right {
  padding-right: 1em; }

.large-padding-top {
  padding-top: 1em; }

.large-padding-bottom {
  padding-bottom: 1em; }

.no-padding {
  padding: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-right {
  padding-right: 0; }

.no-padding-top {
  padding-top: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v14/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/RjgO7rYTmqiVp7vzi-Q5URJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/LWCjsQkB6EMdfHrEVqA1KRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/xozscpT2726on7jbcb_pAhJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/59ZRklaO5bWGqF5A9baEERJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRRJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSq-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSpX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNShWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSqaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(https://fonts.gstatic.com/s/opensans/v14/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzK-j2U0lmluP9RWlSytm3ho.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }

/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzJX5f-9o1vgP2EXwfjgl7AY.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }

/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzBWV49_lSm1NYrwo-zkhivY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }

/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzKaRobkAwv3vxw3jMhVENGA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }

/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzP8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzD0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v14/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

body {
  font-family: 'Alegreya Sans', sans-serif; }

h1 {
  color: #369;
  font-size: 250%; }

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  font-family: FontAwesome; }

html body {
  min-height: 100%; }

.no-interaction {
  pointer-events: none; }

.no-bg {
  background-color: transparent; }

.no-scroll {
  overflow: hidden; }

.no-padding {
  padding: 0; }
select {
  -webkit-appearance: none;
}