#app {
  min-height:100%;
}

.full-size {
  padding:0;
  display:inline-flex;
  bottom: 0;
  width:100%;
  height:100%;
}
.full-width {
 padding:0;
 display:inline-flex;
 border-width: thin;
 border-style:solid;
 border-color: #00AA00;
 bottom: 0;
 width:100%;
}

.full-height {
 padding:0;
 display:inline-flex;
 border-width: thin;
 border-style:solid;
 border-color: #00AA00;
 bottom: 0;
 height:100%;
 min-height: 100%;
}
.footer {
  padding:15;
  display:inline-flex;
  border-width: thin;
  border-style:solid;
  border-color: #FFCC00;
  width:100%;
  height:70px;
}

.header {
  display:inline-flex;
  border-width: thin;
  border-style:solid;
  border-color: #FFCC00;
  width:100%;
  height:90px;
}

.bootstrap-tagsinput {
    width: 100%;
}
.label {
    line-height: 2 !important;
}
